/* Add CSS */

*{
    list-style: none;
}

body{
    background-color: #04050afd;
}

/* .page_footer{
    height: 5%;
    position: fixed;
    bottom: 0%;
    padding-bottom: 5%;
    width: 100%;
    background-color: #04050afd;
} */